<main id="main">

  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Ajouter</h2>
        <ol>
          <li><a href="index.html">Accueil</a></li>
          <li>Ajouter</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs Section -->

  <section class="inner-page">
    <div class="container">
      <h3>
        Nos vols
      </h3>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-7">
        <table class="table text=centered mx-auto w-100">
          <tbody>
            <tr>
              <td class="text-center"><i class="fa-solid fa-flag-checkered fa-2x"></i><br> Indicatif</td>
              <td class="text-center"><i class="fa-solid fa-plane-departure fa-2x"></i><br>OACI Départ</td>
              <td class="text-center"><i class="fa-solid fa-plane-arrival fa-2x"></i><br>OACI Arrivée</td>
              <td class="text-center"><i class="fa-regular fa-clock fa-2x"></i><br> Heure Départ</td>
              <td class="text-center"><i class="fa-solid fa-clock fa-2x"></i><br> Heure Arrivée</td>
            </tr>
            {% for vol in vols%}
            <tr>
              {% for item in vol%}
              <td class="text-center">{{item}}</td>
              {% endfor%}
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>

      <div class="col-5">
        <form class="w-75 mx-auto pt-3 pb-3" action="/resultat" method="GET">
          <div class="d-flex">

            <div class="container">
              <div class="row">
                <div class="col-2">
                  <label for="immat" class="form-label"><i class="fa-solid fa-flag-checkered fa-2x"></i> </label>

                </div>
                <div class="col-10">
                  <input class="form-control" type="text" name="immat" id="immat" placeholder="Indicatif" required />

                </div>
              </div>
            </div>
          </div>

          <br>
          <div class="container">
            <div class="row">
              <div class="col-2">
                <label for="dep" class="form-label"><i class="fa-solid fa-plane-departure fa-2x"></i></label>

              </div>
              <div class="col-10">
                <select name="dep" aria-label="monSelect" class="form-control">
                  <option selected disabled>
                    -- OACI Départ --
                  </option>
                  {%for (code,nom) in aeroport%}
                  <option value="{{code}}">{{nom}}</option>
                  {%endfor%}
                </select>
              </div>
            </div>
          </div>




          <div class="container">
            <div class="row">
              <div class="col-2">
                <label for="arr" class="form-label"><i class="fa-solid fa-plane-arrival fa-2x"></i></label>

              </div>
              <div class="col-10">
                <select name="arr" aria-label="monSelect" class="form-control">
                  <option selected disabled>
                    -- OACI Arrivée --
                  </option>
                  {%for (code,nom) in aeroport%}
                  <option value="{{code}}">{{nom}}</option>
                  {%endfor%}

                </select>

              </div>
            </div>
          </div>



          <div class="container">
            <div class="row">
              <div class="col-6">
                <label for="hdep"><i class="fa-regular fa-clock fa-2x"></i> Heure Départ</label>
                <input type="time" name="hdep" id="hdep" class="form-control" />
              </div>
              <div class="col-6">
                <label for="hdep"><i class="fa-solid fa-clock fa-2x"></i> Heure Arrivée</label>
                <input type="time" name="harr" id="harr" class="form-control" />
              </div>
            </div>
          </div>
          <br>

          <!--  
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    COL1
                  </div>
                  <div class="col-6">
                    COL2
                  </div>
                </div>
              </div>
            -->


          <button class="btn btn-outline-info mx-auto w-100" type="submit">Enregistrer</button>



        </form>


      </div>
    </div>
  </div>






</main><!-- End #main -->

<!-- ======= Footer ======= -->