<main id="main">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Modifier</h2>
        <ol>
          <li>
            <a href="index.html">Accueil</a>
          </li>
          <li>Modifier</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs Section -->
  <section class="inner-page">
    <div class="container">
      <h3>Nos Vols</h3>
    </div>
  </section>
  <table class="table text=centered mx-auto w-100">
    <tbody>
      <tr>
        <td class="text-center">
          </br>
          Modif
        </td>
        <td class="text-center">
          <i class="fa-solid fa-flag-checkered fa-2x"></i>
          </br>
          Indicatif
        </td>
        <td class="text-center">
          <i class="fa-solid fa-plane-departure fa-2x"></i>
          </br>
          OACI Départ
        </td>
        <td class="text-center">
          <i class="fa-solid fa-plane-arrival fa-2x"></i>
        <//br>
          OACI Arrivée
        </td>
        <td class="text-center">
          <i class="fa-regular fa-clock fa-2x"></i>
        <//br>
          Heure Départ
        </td>
        <td class="text-center">
          <i class="fa-solid fa-clock fa-2x"></i>
        <//br>
          Heure Arrivée
        </td>
      </tr>
      {% for vol in vols %}
        <tr>
          <td class="text-center">
            <i class="fa-solid fa-pencil fa-2x"></i>
          </td>
          {% for item in vol %}<td class="text-center">{{ item }}</td>{% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
<!-- End #main -->
