@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body
{
    background-color: rgba(211, 211, 219, 0.151);
    font-size: 15px;
}


table, tr, th, td
{ border: 1px solid black;}


h1{
    color:red; 
    font-size:250%;
    font-family: 'Shadows Into Light', cursive;
}




div#S1,
.S2
{
    border: 2px solid green;
    /*padding-top: 70px;
    padding-right: 100px;
    padding-bottom: 150px;
    padding-left: 25px;

    padding: 70px 100px 150px 25px;
    padding: 100px 50px;*/
    padding: 50px;

    margin: 25px 150px 50px 200px;
}

.S2
{
    border-color: blue;
}

h3:hover
{
    color: rgb(0, 255, 72);
    font-size: 2em;
}

